.customCalendar :global(.react-calendar) {
    width: 90vw;
    height:90vh;
    background: none;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1em;
  }
  
  .customCalendar :global(.react-calendar--doubleView) {
    width: 700px;
  }
  
  .customCalendar :global(.react-calendar--doubleView .react-calendar__viewContainer) {
    display: flex;
    margin: -0.5em;
  }
  
  .customCalendar :global(.react-calendar--doubleView .react-calendar__viewContainer > *) {
    width: 50%;
    margin: 0.5em;
  }
  
  .customCalendar button {
    border: 10px;
    outline: none;
    background-color: #FFFDF2;
    color: #14452F;
    text-transform: lowercase;
  }
  
  .customCalendar button:enabled:hover {
    cursor: pointer;
    background-color: #14452F;
    color: #FFFDF2;
  }
  
  .customCalendar :global(.react-calendar__navigation) {
    display: flex;
    align-items: center;
    margin-top:10px;
    width:100%;
  }

  .customCalendar > div > div:first-child button {
    text-align:center;
    border-radius: 10px;
    max-width: fit-content;
    max-height:fit-content;
    background: none;
    outline: none;
    font-size: 50px;
    padding:10px;
    color: #FFFDF2;
    font-weight: bold;
    margin:auto;
  }
  
  .customCalendar :global(.react-calendar__month-view__weekdays) {
    text-align: center;
    text-transform: lowercase;
    font: inherit;
    font-size: 35px;
    font-weight: bold;
    color: #FFFDF2;
  }
  
  .customCalendar :global(.react-calendar__month-view__weekdays__weekday) {
    padding: 0.5em;
  }
  
  .customCalendar :global(.react-calendar__month-view__days__day--weekend) {
    color: #678F7E;
  }
  
  .customCalendar :global(.react-calendar__month-view__days) {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }

  .customCalendar :global(.react-calendar__tile) {
    height:13vh;
    font: inherit;
    font-size: 45px;
    position:relative;
    color:#14452F;
    border: 1px solid #A9CBBC;
  }
  
  .customCalendar :global(.react-calendar__tile--now) {
    background: #14452F;
    color: #FFFDF2;
  }

  .customCalendar :global(.react-calendar__tile--active) {
    background: #678F7E;
    color: #FFFDF2;
  }