.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.contentWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    /* min-height: 100vh; */
}

.leftContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    width: 50vw;
    /* min-height: 100vh; */
}

.rightContent {
    padding: 10px;
    width: 50vw;
    display: flex;
    align-items: center;
}

.h1 {
    padding-bottom: 6rem;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    background-color: #FFFDF2;
    border-radius: 50%;
}

.date{
    margin-top: 10px;
    color: #FFFDF2;
    font-size: 60px;
}

.message{
    padding-top: 1rem;
    color: #FFFDF2;
    width: 26%;
    text-align: center;
}

.textInput {
    width: 30vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

  
 