.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    /* min-height: 100vh; */
  }

.logo{
  padding-top: 0px;
}

.date{
  padding-bottom: 5px;
  color: #FFFDF2;
}

.message{
  color: #FFFDF2;
}


  
 