.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    /* min-height: 100vh; */
  }

.h1 {
    padding-bottom: 6rem;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    background-color: #FFFDF2;
    border-radius: 50%;
}

.date{
    padding-bottom: 2rem;
    color: #FFFDF2;
}

.message{
    padding-top: 1rem;
    color: #FFFDF2;
    width: 26%;
}

.textInput {
    width: 26%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

  
 